

    <!-- Header -->
    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <img src="images/eventHeader.png">
            </header>
            <div class="row 150%">
                <div class="8u 12u$(medium)">

                    <!-- Content -->
                    <section id="content">

                        <h3>Athletics</h3>
                        <p>
                            
                        </p>
                        <p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
                        <h3>Academic</h3>
                        <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
                        <h3>Travel</h3>
                        <p>
                            Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper,
                            porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue.
                            Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel
                            neque eros. Vestibulum diam.
                        </p>
                        <h3>Personals</h3>
                        <p>
                            Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper,
                            porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue.
                            Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel
                            neque eros. Vestibulum diam.
                        </p>

                    </section>

                </div>
                <div class="4u$ 12u$(medium)">

                    <!-- Sidebar -->
                    <section id="sidebar">
                        <section>
                            <h3>Create An Event</h3>
                            <p>
                                If you want to host an event, gathering, meetup or small get-together: let us know! We believe anyone and everyone is capable of
                                hosting an amazing gathering of minds alike.
                            </p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="#" class="button">Host an Event</a></li>
                                </ul>
                            </footer>
                        </section>
                        <hr />

                    </section>

                </div>
            </div>
        </div>
    </div>

