<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Edit Your Profile</h2>
            <p>Things change, Wurl understands. We'll let you mix it up a bit.</p>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <h3>Your Information</h3>

                        <br />
                        <div class="12u$">
                            <input type="text" name="name" id="name" value="" placeholder="Email" ng-model="user.email">
                        </div>
                        <br />
                        <div class="12u$">
                            <input type="text" name="text" id="cityofresidence" value="" placeholder="City of Residence" ng-model="user.city">
                        </div>
                        <br />
                        <div class="12u$">
                            <input type="text" name="text" id="countryresidence" value="" placeholder="Country of Residence" ng-model="user.country">
                        </div>




                    </section>
                    <hr />
                    <section>
                        <a href="#" class="image fit"></a>





                    </section>
                </section>

            </div>
            <div class="8u$ 12u$(medium) important(medium)">
                <section id="content">
                    <a href="#" class="image fit"><img src="images\chinaregisterpic05.jpg" alt="" /></a>

                </section>



            </div>
        </div>
    </div>
</div>