
<section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="images/profilebackgroundoverlay.png" alt="" /></span>
    <div class="content">
        <h2>Andrew Bethel</h2>
        <h4>Hangzhou, China</h4>

        <div>
            <h4>Host an Event</h4>
        </div>
        <div>
            <h4>See Your Recent Events</h4>
        </div>
        <div>
            <h4>Send a Message</h4>
        </div>
        <hr />
        <div>
            <h4>Edit Your Profile</h4>
        </div>

    </div>

</section>