<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wurld.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wurld.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wurld</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wurld</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WurlApiConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:wurld.database.windows.net,1433;Initial Catalog=wurld_db;User ID=abeth86@wurld;Password=bE1e2ke3" Name="Data Source=tcp:wurld.database.windows.net,1433;Initial Catalog=wurld_db;User Id=abeth86@wurld;Password=bE1e2ke3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Wurl.Data.ApplicationDbContext, Wurl.Data" MigrationConfiguration="Wurl.Data.Migrations.Configuration, Wurl.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Azure" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=http;AccountName=wurlblob;AccountKey=ScquyJ6ZlMuvvKhazS2idZUYjkVbv085IJqTxgyyuQOPibKrvbPzHxrn+HfZcVpv/KV8uxoVsvY0WWskyK5ubg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Azure_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=http;AccountName=wurlblob;AccountKey=ScquyJ6ZlMuvvKhazS2idZUYjkVbv085IJqTxgyyuQOPibKrvbPzHxrn+HfZcVpv/KV8uxoVsvY0WWskyK5ubg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Azure-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WurlApiConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wurld.database.windows.net,1433;Initial Catalog=wurld_db;User Id=abeth86@wurld;Password=bE1e2ke3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>